aniso8601==1.1.0
click==6.6
ElfEsteem==0.1
Flask==0.11.1
Flask-RESTful==0.3.5
future==0.18.3
itsdangerous==0.24
Jinja2==2.8
Markdown==2.6.7
MarkupSafe==0.23
pefile==2016.3.28
PyInstaller==3.2
pyparsing==1.5.7
python-dateutil==2.5.3
pytz==2016.6.1
pywin32==220
six==1.10.0
virtualenv==15.0.3
Werkzeug==0.11.11
